@mixin first_title {
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
@mixin second_title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@mixin third_title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@mixin furth_title {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
}
@mixin fifth_title {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
@mixin sixth_title {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
