@mixin first_title {
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}
@mixin second_title {
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@mixin third_title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@mixin furth_title {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  text-transform: uppercase;
}
@mixin fifth_title {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
@mixin sixth_title {
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
@mixin link_normal {
  color: #ffffff;
  background-color: #ff4343;
  font-size: 24px;
  font-weight: 900px;
  width: 370px;
  line-height: 80px;
  text-align: center;
  display: block;
  margin: auto;
}
@mixin link_hover {
  color: #ffffff;
  background-color: #e71414;
  font-size: 24px;
  font-weight: 900px;
  width: 370px;
  line-height: 80px;
  text-align: center;
  display: block;
  margin: auto;
}
@mixin link_active {
  color: #ffffff;
  background-color: #ff4343;
  font-size: 24px;
  font-weight: 900px;
  width: 370px;
  line-height: 80px;
  text-align: center;
  display: block;
  margin: auto;
  box-shadow: 4px 4px 30px rgba(255, 67, 67, 1);
}
@mixin social-fb {
  color: #c6cbcd;
  border: 1px solid #c6cbcd;
  width: 39px;
  line-height: 39px;
  text-align: center;
}
@mixin social-tw {
  color: #c6cbcd;
  border: 1px solid #c6cbcd;
  width: 39px;
  line-height: 39px;
  text-align: center;
}
@mixin social-linkedin {
  color: #c6cbcd;
  border: 1px solid #c6cbcd;
  width: 39px;
  line-height: 39px;
  text-align: center;
}
