.features {
  background-color: #fff;
  padding: 116px 0 133px 0;
  &__grid {
    display: grid;
  }
  &__desc {
    text-align: center;
  }

  @media (min-width: 1201px) {
    .features__grid {
      row-gap: 90px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }
    .features__icon {
      width: 100px;
      height: 100px;
      margin: 0 auto 70px;
    }
    .features__title {
      @include furth_title;
      margin-bottom: 53px;
      text-align: center;
    }
    .features__desc p {
      font-size: 18px;
      font-weight: 400;
    }
  }

  @media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }

    .features__grid {
      row-gap: 49px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
    }

    .features__icon {
      width: 85px;
      height: 85px;
      margin: 0 auto 57px;
    }

    .features__title {
      font-size: 18px;
      font-weight: 900;
      color: #2d3033;
      margin-bottom: 32px;
      text-align: center;
    }
    .features__desc p {
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media (max-width: 767px) {
    .container {
      width: 100%;
    }

    .features__grid {
      row-gap: 90px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fill, auto);
    }

    .features__icon {
      width: 75px;
      height: 75px;
      margin: 0 auto 57px;
    }

    .features__title {
      font-size: 18px;
      font-weight: 900;
      color: #2d3033;
      margin-bottom: 16px;
      text-align: center;
    }
    .features__desc p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
