.gallery {
  width: 100%;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    .card {
      position: relative;

      &:hover .overlay {
        opacity: 1;
        visibility: visible;
      }

      &:active .overlay {
        opacity: 1;
        visibility: visible;
        background-color: rgba(185, 12, 12, 0.8);
      }

      .card-image {
        width: 100%;
      }

      .overlay {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 21px;
        background-color: rgba(255, 67, 67, 0.8);
        z-index: 3;
        color: #fff;
        h3 {
          color: #ffffff;
          font-weight: 900;
        }
        p {
          color: #ffffff;
          font-weight: 400;
        }
      }
    }
  }
  @media (min-width: 1201px) {
    .card {
      width: 25%;
    }
    .overlay {
      h3 {
        font-size: 24px;
      }

      .overlay__desc p {
        font-size: 18px;
      }
    }
  }
  @media (max-width: 1200px) {
    .card {
      width: 25%;
    }
    .overlay {
      h3 {
        font-size: 18px;
      }

      .overlay__desc p {
        font-size: 14px;
      }
    }
  }
  @media (max-width: 767px) {
    .card {
      width: 50%;
    }
  }
}
