.header {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 38px 0 120px 0;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 73, 0.56);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    border-bottom: 2px solid #babbc5;
    .menu {
      display: flex;
      &__item {
        .menu__link {
          font-weight: 700;
          color: #ffffff;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          padding-bottom: 41px;

          &:hover {
            font-size: 13px;
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase;
            border-bottom: 2px solid #babbc5;
            padding-bottom: 41px;
          }
          &:active {
            font-size: 13px;
            font-weight: 700;
            color: #e71414;
            text-transform: uppercase;
            border-bottom: 2px solid #e71414;
            padding-bottom: 41px;
          }
        }
      }
    }
  }
  .first-screen {
    &__title {
      text-align: center;
    }
    &__desc p {
      font-weight: 400;
      color: #ffffff;
      text-align: center;
    }
    &__link {
      @include link_normal;
    }
    &__link:hover {
      @include link_hover;
    }
    &__link:active {
      @include link_active;
    }
  }

  @media (min-width: 1201px) {
    .header__nav {
      margin-bottom: 129px;
    }
    .menu__link {
      font-size: 13px;
      padding: 0 28px;
    }
    .first-screen__title {
      @include first_title;
      margin-bottom: 32px;
    }
    .first-screen__desc {
      margin-bottom: 80px;
    }
    .first-screen__desc p {
      font-size: 24px;
    }
    .first-screen__link {
      width: 370px;
    }
  }

  @media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }
    .header__nav {
      margin-bottom: 186px;
    }
    .menu__link {
      font-size: 12px;
      padding: 0 20px;
    }
    .first-screen__title {
      font-size: 48px;
      margin-bottom: 62px;
      color: #fff;
    }
    .first-screen__desc {
      margin-bottom: 90px;
    }
    .first-screen__desc p {
      font-size: 18px;
    }
    .first-screen__link {
      width: 314px;
    }
  }

  @media (max-width: 767px) {
    .container {
      width: 100%;
    }
    .header__menu {
      display: none;
    }
    .header__nav {
      border: none;
    }
    .first-screen__title {
      font-size: 36px;
      margin-bottom: 33px;
      color: #fff;
    }
    .first-screen__desc {
      margin-bottom: 50px;
    }
    .first-screen__desc p {
      font-size: 14px;
    }
    .first-screen__link {
      width: 280px;
    }
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
.burger-menu span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  transition: 0.3s;
}
.header__menu {
  display: flex;
}
@media (max-width: 767px) {
  .burger-menu {
    display: flex;
  }
  .header__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: rgba(37, 43, 73, 0.9);
    padding: 20px;
    text-align: center;
  }
  .header__menu.active {
    display: flex;
  }
}
